<div class="container content">

<legend><h1>About URconnecting</h1></legend>
<p>URconnecting is like ChatRoulette for your phone. It pairs you with a random person and allows you to talk to them via SMS. The other person will never see your phone number - all texts get sent to our phone number which we then forward to the other user. URconnecting is for University of Regina students/staff ONLY. We think this could be more exciting than paring you with a random person anywhere, because instantly you will have something you could talk about.</p>

<p>In the future we plan to allow you to specify more precisely who you want to talk to and other cool features. But for right now it is random. If you want to see some things you think would be cool let me know! </p>
</div>

<div class="container content">

<legend><h1>Contact URconnecting</h1></legend>
<p>URconnecting was made by a current University of Regina student whom you may know.. or you may not know. Who knows! It was just a fun project that I thought could be entertaining if enough UofR students used it. So if you have any concerns/questions/recommendations/etc you can contact me via email: <b>contact@urconnecting.com</b> or tweet me:
  
  
  <a href="https://twitter.com/intent/tweet?screen_name=URconnecting" class="twitter-mention-button" data-size="large">Tweet to @URconnecting</a>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script> 
</div>