<h2>An email has been sent to <%= @email %>.</h2>
<p>Check your email to confirm your account! Please click the link and follow its instructions to continue setting up your account. If you do not get any email please email me at: contact@urconnecting.com</p>

<h5>Be patient! Sometimes it takes a while to deliver to UR email accounts</h5>