<legend><h1>Get started using ***!</h1></legend>
<h4><%= link_to "Click here to add some more information to your account", profile_path %></h4>
<br />
<br />
<div class="span4 well">
  <h3>Current Commands</h3>
  <p>URconnecting is configured to take action for the following commands. Text the command to run it.</p>
  <dl class="dl-horizontal">
    <dt>#talk</dt>
    <dd>Start a new chat.</dd>
    <br>
    <dt>#next</dt>
    <dd>End the current chat and start a new one with a new partner.</dd>
    <br>
    <dt>#off</dt>
    <dd>Stop chatting for now.</dd>
    <br>
    <dt>#options</dt>
    <dd>List all the valid commands.</dd>
  </dl>
</div>

<div class="span7">
  <p>Good stuff! You are now set up to start texting University of Regina students. You have also received a text with instructions on how to start chatting with someone, and those instructions you can always find here. Add the number to your phone's address book as "URconnecting" so that you remember what it's for. If you don't receive a text from us, you can manually add our number to your address book and text it #play to start chatting with someone:</p>
  <h3>Add This Number</h3>
  <h1 class="text-center">(647) 725-2253</h1>
  <p>And remember, no one at the University will see your phone numbers. All texts are sent through the number above</p>
</div>

<div class='span12'>
  If you have suggestions for more features please email me
</div>