<div class='span9 information'>
  <div id="hp_banner">
      <a class="item" href="/users/sign_up" target="_self" style="opacity: 0; ">
          <img alt="Banner Image" linklabel="Find out more." linktarget="_self" rel="We celebrate cultural diversity and offer services that support Aboriginal student success. Discover a welcoming community and programs to help you reach your goals." src="/assets/aborig.jpeg" width="800">
      </a>





      <a class="item show" href="/users/sign_up" target="_self" style="opacity: 1; ">
          <img alt="Banner Image" linklabel="Find out more." linktarget="_self" rel="The University of Regina is a place where you can focus on opportunity and possibility. Be inspired by watching the President's Community Report videos." src="/assets/prez-report.jpeg" width="800">
      </a>





      <a class="item" href="/users/sign_up" target="_self" style="opacity: 0; ">
          <img alt="Banner Image" linklabel="Find out more." linktarget="_self" rel="Boost your career with our Co-operative Education and Internship Programs. Earn while you learn, gain valuable work experience and develop your job network.  " src="/assets/coop-taryn.jpeg" width="800">
      </a>





      <a class="item" href="/users/sign_up" target="_self" style="opacity: 0; ">
          <img alt="Banner Image" linklabel="Find out more." linktarget="_self" rel="Realize your potential, whether you're a mature student or just out of high school. Ensure your future success through the UR Guarantee Program. " src="/assets/urguarantee-group.jpeg" width="800">
      </a>





      <a class="item" href="/users/sign_up" target="_self" style="opacity: 0; ">
          <img alt="Banner Image" linklabel="Find out more." linktarget="_self" rel="Learn anytime, anywhere with online, distance, night, weekend and summer university programs. Check out courses that fit your schedule. " src="/assets/online-mike.jpeg" width="800">
      </a>





      <a class="item" href="/users/sign_up" target="_self" style="opacity: 0; ">
          <img alt="Banner Image" linklabel="Find out more." linktarget="_self" rel="Looking to meet new friends, have fun, burn off stress and get fit? Realize a better you through our recreation and intramural programs. " src="/assets/lifestyle.jpeg" width="800">
      </a>





      <a class="item" href="/users/sign_up" target="_blank" style="opacity: 0; ">
          <img alt="Banner Image" linklabel="Watch video." linktarget="_blank" rel="Our research is expanding the frontiers of knowledge. Meet some innovators whose work is making our communities and our world a better place. " src="/assets/research-itc.jpeg" width="800">
      </a>





      <a class="item" href="/users/sign_up" target="_self" style="opacity: 0; ">
          <img alt="Banner Image" linklabel="Find out more." linktarget="_self" rel="The UR Guarantee Program supports you every step of the way. Get help with your academic goals, career development and portfolio building. " src="/assets/urguarantee-kelby.jpeg" width="800">
      </a>





      <a class="item" href="/users/sign_up" target="_self" style="opacity: 0; ">
          <img alt="Banner Image" linklabel="Find out more." linktarget="_self" rel="Students from around the globe make the U of R their institution of choice. See how our programs offer you a world of opportunity. " src="/assets/international1.jpeg" width="800">
      </a>



  <div class="loopStop" id="hp_banner_footer">

  </div>
  <!-- <div id="hp_banner_content">
      <div id="hp_banner_nav">
          <img alt="Previous Image" class="" onclick="javascript:navItem('prev');" src="http://www.uregina.ca/assets/templates/img/banner_nav_left.png" title="Previous Image">
          <img alt="Pause Image" class="" onclick="javascript:navItem('pause');" src="http://www.uregina.ca/assets/templates/img/banner_nav_pause.png" title="Pause Image"> 
          <img alt="Next Image" class="" onclick="javascript:navItem('next');" src="http://www.uregina.ca/assets/templates/img/banner_nav_right.png" title="Next Image">
      </div>
      <div class="hp_banner_text">The University of Regina is a place where you can focus on opportunity and possibility. Be inspired by watching the President's Community Report videos. <a href="http://www.uregina.ca/community-report/" target="_self"> Find out more.</a></div>
  </div> -->

                      <div id="hpApplyNow"><a class="no" href="/users/sign_up" title="Apply Now"></a></div>
      <!-- <div id="hpURGuarentee"><a class="no" href="/urguarantee/index.html" title="UR Guarantee"></a></div> -->
                      <img border="0" class="not" id="hpSiteTag" src="/assets/banner.png" title="Realize. It starts with you.">
                  </div>
  <div class='top center-it'>
    <h2>Matches you to a random <span id='uofr'>University of Regina</span> student and lets you text them</h2>
    <h4 class='small grey'>Kinda like ChatRoulette for SMS, nothing to download</h4>
    <h3>No one will ever see your phone number!</h3>
  </div>


<!-- <div id="hpApplyNow"><a class="no" href="/apply-now/index.html" title="Apply Now"></a></div> -->
                </div>