<% if current_user %>
  <% if !current_user.good_to_go? %>
<div class="alert alert-error">
  <button type="button" class="close" data-dismiss="alert">×</button>
  <h4>Not Done Registration</h4>
  Uh uh. To complete registration, you need to add your phone number.
  <h3><%= link_to 'Click Here to Complete Registration and start texting!', user_steps_path %></h3>
</div>
  <% end %>
<% end %>
<div class='span8 offset3'>
<input type="button"
  onclick="sendRequestViaMultiFriendSelector(); return false;"
  value="Invite your Facebook Friends!"
  class='btn btn-success btn-large'
/></div>
<% if !current_user %>
  <% url = '/users/sign_up' %>
<% else %>
  <% url = '#' %>
<% end %>
<!-- <h3><%= User.all.count %> University of Regina students using URconnecting.com</h3> -->
<div class='span8 information'>
  <div id="hp_banner">
  <!-- <div id="hpURGuarentee"><a class="no" href="/urguarantee/index.html" title="UR Guarantee"></a></div> -->
  </div>
  <div class='top center-it'>
    <h2>URconnecting matches you to a random <span id='uofr'>University of Regina</span> student and lets you text them</h2>
    <h4 class='small grey'>Like ChatRoulette for SMS, nothing to download</h4>
    <h4>No one will ever see your phone number!</h4>
  </div>
  
  <div class='span8 offset3'>
  <% if !current_user %>
  <a href='/users/sign_up'><input type="button"
    value="Sign Up Now!"
    class='btn btn-info btn-large'
  /></a>
  <% end %>
  </div>
  
<!-- <div id="hpApplyNow"><a class="no" href="/apply-now/index.html" title="Apply Now"></a></div> -->
                </div>
                
                <div class="span3 iphone">
                  <img src="/assets/iphone_urconnecting.png">
                </div>
                  <head>
                    <title>Request Example</title>
                  </head>

                  <body>
                    <div id="fb-root"></div>
                    <script src="http://connect.facebook.net/en_US/all.js"></script>

                    <script>
                      FB.init({
                        appId  : '424425824260829',
                        frictionlessRequests: true
                      });

                      function sendRequestToRecipients() {
                        var user_ids = document.getElementsByName("user_ids")[0].value;
                        FB.ui({method: 'apprequests',
                          message: 'My Great Request',
                          to: user_ids
                        }, requestCallback);
                      }

                      function sendRequestViaMultiFriendSelector() {
                        FB.ui({method: 'apprequests',
                          message: 'Request friends to URconnecting.com'
                        }, requestCallback);
                      }

                      function requestCallback(response) {
                        // Handle callback here
                      }
                    </script>
                  </body>