<div class="container content">

        <legend><h1>Terms of Service</h1></legend>
<p>I needed a Terms of Service page to integrate with FB so here it is.</p>


<h2>
	Web Site Terms and Conditions of Use
</h2>

<h3>
	1. Terms
</h3>

<p>
	By accessing this web site, you are agreeing to be bound by these 
	web site Terms and Conditions of Use, all applicable laws and regulations, 
	and agree that you are responsible for compliance with any applicable local 
	laws. If you do not agree with any of these terms, you are prohibited from 
	using or accessing this site. The materials contained in this web site are 
	protected by applicable copyright and trade mark law.
</p>

<h3>
	2. Disclaimer
</h3>

<ol type="a">
	<li>
You expressly agree that use of the Site is at your sole risk and discretion. The Site and all content and other information contained on the Site is provided on an "AS IS" and "AS AVAILABLE" basis without warranty of any kind, whether express or implied. URconnecting makes no warranty that (I) the Site and content or information will be uninterrupted, timely, secure or error-free, (II) the results that may be obtained from use of this Site will be effective, accurate or reliable. The Site may include technical mistakes, inaccuracies or typographical errors. URconnecting reserves the right to change the Site content and information at any time without notice.
	</li>
</ol>

<h3>
	3. Limitation of Liability.
  
</h3>
<p>In no event shall URconnecting or its affiliates be liable for any indirect, incidental, special, puntitive damages or consequential damages of any kind, or any damages whatsoever arising out of or related to your use of the Site, the content and other information obtained therein.

Certain jurisdictions prohibit the exclusion or limitation of liability for consequential or incidental damages, thus the above limitations may not apply to you.</p>
			
<h3>
	4. Revisions and Errata
</h3>

<p>
	The materials appearing on URconnecting's web site could include technical, typographical, or photographic errors. URconnecting does not warrant that any of the materials on its web site are accurate, complete, or current. URconnecting may make changes to the materials contained on its web site at any time without notice. URconnecting does not, however, make any commitment to update the materials.
</p>

<h3>
	5. Links
</h3>

<p>
	URconnecting has not reviewed all of the sites linked to its Internet web site and is not responsible for the contents of any such linked site. The inclusion of any link does not imply endorsement by URconnecting of the site. Use of any such linked web site is at the user's own risk.
</p>

<h3>
	6. Site Terms of Use Modifications
</h3>

<p>
	URconnecting may revise these terms of use for its web site at any time without notice. By using this web site you are agreeing to be bound by the then current version of these Terms and Conditions of Use.
</p>

<h3>
	7. Governing Law
</h3>

<p>
	Any claim relating to URconnecting's web site shall be governed by the laws of the City of Regina, Saskatchewan without regard to its conflict of law provisions.
</p>

<p>
	General Terms and Conditions applicable to Use of a Web Site.
</p>

  </div>